<h2><%="#{@order.user.name}"%>, please review your order:</h2>

<h4> <%= @order.products.name %> </h4>
<p> Order ID: <%= @order.id %> </p>
<p> Subtotal: <%=number_to_currency(@order.subtotal) %></p>
<p> Tax: <%=number_to_currency(@order.tax) %></p>
<p> Total: <%=number_to_currency(@order.total)%> </p>
<p> Your email: <%= @order.user.email %> </p>


<% @order.carted_products.each do |carted_product| %>
  <h4> Name: <%= carted_product.product.name %></h4>
  <p> Order ID: <%= carted_product.product.id %> </p>
  <p> Quantity: <%= carted_product.quantity %> </p>
  <img class="image-class" alt="Rails" src="<%=carted_product.product.images.first.image_link%>">

<% end %>
