<h1> <%= @page_title %> </h1>


<%= link_to "Sort by Price:ASC",  "/all_products?sort=price&sort_order=asc" %>
<%= link_to "Sort by Price:DESC",  "/all_products?sort=price&sort_order=desc" %>

<div class="row">
  <% @products.each do |product| %>
      <div class="col-sm-4">
        <div class="well">
            <p> <%= product.name%></p>
            <p><%= product.price %></p>
            <p><%= product.description %></p>
            <a href="/all_products/<%=product.id%>">
              <% product.images.each do |image| %>
                <img class="image-class" alt="Rails" src="<%=image.image_link.first%>"/>
              <%end%>

            </a>
        </div>
      </div>
  <% end %>
</div>
