<h1> <%= @page_title %> </h1>

<% @products.each do |product| %>
<div class="panel panel-default">
  <div class="panel-body">
    <h4 class="product-name"><%= product.name%></h4>
    <h4><%= product.price %></h4>
    <h4><%= product.description %></h4>
    <a href="/all_products/<%=product.id%>">
      <img class="image-class" alt="Rails" src="<%=product.image%>">
    </a>
</div>
</div>
<% end %>
