<h1> <%= @page_title %> </h1>


<%= link_to "Sort by Price:ASC",  "/all_products?sort=price&sort_order=asc" %>
<br>
<%= link_to "Sort by Price:DESC",  "/all_products?sort=price&sort_order=desc" %>

<% Category.all.each do |category| %>
  <%= link_to "Category: #{category.name}", "/all_products?category=#{category.name}" %>
<br>
<% end %>


<div class="row">
  <% @products.each do |product| %>
      <div class="col-sm-4">
        <div class="well">
            <p> <%= product.name%></p>
            <p><%= product.price %></p>
            <p><%= product.description %></p>
            <a href="/all_products/<%=product.id%>">
              <img class="image-class" alt="Rails" src="<%=product.images.first.image_link%>">
            </a>
        </div>
      </div>
  <% end %>
</div>
