<h1> <%= @page_title %> </h1>





<div class="row">
  <% @products.each do |product| %>
      <div class="col-sm-4">
        <div class="well">
            <p> <%= product.name%></p>
            <p><%= product.price %></p>
            <p><%= product.description %></p>
            <a href="/all_products/<%=product.id%>">
              <img class="image-class" alt="Rails" src="<%=product.image%>">
            </a>
        </div>
      </div>
  <% end %>
</div>
