<h1> <%= @page_title %> </h1>

<h4 class="product-name"><%= @product.name%></h4>

<h4><%= number_to_currency(@product.price) %></h4>

<h4><%= @product.description %></h4>

<% @product.images.each do |image| %>
  <img class="image-class" alt="Rails" src="<%=image.image_link%>"/>
<%end%>

<%= form_tag "/orders", method: :post do %>
  <form class="form-inline">

    <div class="form-group">
      <%= text_field_tag :quantity, nil, placeholder: "Quantity", class: "form-control"%>
      <%= hidden_field_tag :product_id, @product.id %>
    </div>

    <div>
      <%= submit_tag "Add to Cart", class:"btn btn-default"%>
    </div>

<% end %>

<p class="sale-message"><%= @product.sale_message %><p>
<p> <%=number_to_currency(@product.tax) %></p>
<p> <%=number_to_currency(@product.total)%></p>

<h3> <%= "This product is supplied by " + @product.supplier.name %></h3>






<div>
  <%= link_to "Edit Product", "/all_products/#{@product.id}/edit" %>
</div>

<div>
  <%= link_to "Delete Product", "/all_products/#{@product.id}", method: :delete %>
</div>
