<h1> <%= @page_title %> </h1>


<div class="panel panel-default">
  <div class="panel-body">
    <h4 class="product-name"><%= @products.name%></h4>
  </div>
</div>

<h4><%= @products.price %></h4>
<h4><%= @products.description %></h4>

<img class="image-class" alt="Rails" src="<%=@products.image%>"/>
